@import url('Globals.css');
/* 
:root{
    --neon:#66fcf1;
    --neondark: #45a29e;
    --grey: #c5c6c7;
    --darkblue: #1f2833;
    --darkblack: #0b0c10
}
 */
.whole{
    height: 100vh;
    
   
}
.home-container{
    display: flex;
    height: 100%;
    max-width: 100vw;
    padding: 2em 5em;
    text-align: left;
}
.home-container .intro-container{
    display: flex;
    flex:0;
    flex-direction: column;
    gap:1em;
    color:white;
}
.home-container .intro-container  h1{
    font-size: clamp(3em,6vw,7em);
    font-weight: 900;
}
.home-container .intro-container h1{
    overflow: hidden;
    /* border:1px solid white; */
    animation-name: animate;
    animation-duration: 1s;
    letter-spacing: 0.4em;
    animation-timing-function: steps(6,end);
}

@keyframes animate{
    0%{
        width:0px;
    }
    100%{
      width:100%;
    }
}

.home-container .intro-container .letter-animate{
    font-size: clamp(1.5em,2vw,3em);
    opacity:0;
    transition: opacity 1s;
}

.letter-animate p:last-child{
    font-size: 0.6em;
}

/* image container */
.image-container{
    position: relative;
    width: 100%;
    margin:0 3em;   
    opacity:0;
    transition: opacity 2s;
    height: max-content;
    padding:0;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    overflow: hidden;
    
}




.image-profile{
    background-color: white;
    color:black;
    display: flex;    

}

.image-profile>p:first-child{
    padding: 0 1em;
    font-weight: bold;
    margin-right: auto;
    line-height: 30px;
}
.image-profile p.window-icons{
   color:hotpink;
   display: flex;
   justify-content: center;
   align-items: center;
   gap:1em;
}

.image-profile p.window-icons .fa-xmark{
    padding:0.45em;
}
.image-profile p.window-icons .fa-xmark:hover{
    background-color:black;
 }
 
.terminal{
    max-width: 100%;
    color:var(--neon);
    font-size: 0.9em;
    padding:1em;
    background-color: 	rgba(114, 40, 5, 0.9);

}
.terminal span{
    color:white;
}
.terminal .output{
    color:yellow;
    font-weight: bold;
}
code{
    font-size: 10px;
}
/* img{
    max-width: 50%;
    margin: 0 auto;
} */


@media screen and (max-width:700px) {
    .home-container{
        flex-direction: column;
        align-items: center;
        margin:0;
        padding:1em;
        gap:2em;    
        margin: 0 auto;
    }
    .intro-container h1{
        display: inline-block;
        font-size: 3em !important;
        animation-name: animate;
        animation-duration: 2s !important;
        letter-spacing: 0.4em;
        animation-timing-function: steps(12,end) !important;
    }
    
    @keyframes animate{
        0%{
            width:0px;
        }
        100%{
          width:100%;
        }
    }

    .letter-animate {
        font-size: 1.5em !important;
    }
}