@import 'Globals.css';
/* 
:root{
    --neon:#66fcf1;
    --neondark: #45a29e;
    --grey: #c5c6c7;
    --darkblue: #1f2833;
    --darkblack: #0b0c10
}
*/

.project-container{
    max-width: 100vw;
    height: 100vh;
    background-color: var(--darkblue);
    color:white;
    padding:3em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    place-items: center ;
    gap:3em;
}

a{
    text-decoration: none;
}

.project-one{
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    color:black;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}
.project-one:hover{
    transform: scale(1.1);
}

.project-one .project-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #04518b;
    color:white;
    padding:0.5em;
    font-weight: bold;
    display: flex;
}

.project-title p:last-child{
    margin-left: auto;
}
.project-desc img{
    object-fit: contain;

}

@media screen and (max-width:700px) {
    .project-container{
        grid-template-columns: 1fr;
        height: auto;
    }
    .project-one{
        height: 130px;
    }
}

